* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: #FAFAEE;
    --second-bg-color: #131313;
    --text-color: #FAFAEE;
    --main-color: #0BD135;
}

/* Janela de atualização */
.janela-atualizar {
    width: 100%;
    height: 135%;
    position: absolute;
    top: 80vh;
    left: 0;
    background-color: #00000080;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 999;

}

.modal {
    width: 75%;
    min-width: 450px;
    min-height: 100px;
    background-color: #ffffff96;
    backdrop-filter: blur(10PX);
    padding: 50px;
    border-radius: 20px;
}

.sair {
    position: absolute;
    top: -10px;
    right: -10px;
    width: 35px;
    height: 35px;
    border-radius: 50px;
    border: none;
    background-color: red;
    color: aliceblue;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

.janela-atualizar.abrir{
    display: flex;
}
/* Janela de atualização */

section {
    min-height: 80vh;
    padding: 7rem 5% 5rem;
}

.inicio{
    background-color: var(--bg-color);
}

#cabecalho {
    color: var(--text-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--main-color);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    text-align: center;
    z-index: 5;
}

#cabecalho img {
    width: 48px;
    height: 24px;
    top: 10px;
    position: relative;
    left: 75px;
}

#cabecalho h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: 600;
    color: var(--text-color);
    position: relative;
    left: -25px;
    width: 155px;
    height: 30px;
    top: 30px;
}

.pontuacao {
    width: 100%;
    height: 50px;
    color: #1e1e1e;
    margin-top: 10px;
}

.pontuacao h1 {
    font-family: "Bungee", sans-serif;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    position: relative;
    width: 170px;
    left: 590px;
}

.inicio .caixa{
    margin-top: 25px;
    display: flex;
    margin-top: 50px;
}

.inicio .caixa div{
    height: 300px;
    width: 400px;
    border-radius: 10px;
    margin: auto;
    background-color: var(--main-color);
    color: var(--text-color);
    text-align: center;
    box-shadow: 10px 10px 50px 3px rgba(0,0,0,0.4);
    transition: 0.5s ease-in-out;
}

.inicio .caixa div:hover{
    transform: scale(1.1);
}

.caixa p{
    text-align: center;
    font-family: "Lexend Deca", sans-serif;
    font-size: 30px;
    color: var(--text-color);
    font-weight: 600;
    margin: 10px auto auto auto; 
}

.inicio .caixa div h2{
    font-family: "Bungee", sans-serif;
    font-weight: 400;
    font-size: 70px;
    position: relative;
    top: 0px;
    text-align: center;
    margin-top: 20px;
}

.inicio .caixa div img{
    margin-top: 10px;
}

.secao.two {
    padding: 0rem 5% 10rem;
}

.pontuacao.line {
    width: 100%;
    height: 50px;
    color: #1e1e1e;
}

.pontuacao.line h1 {
    width: 300px;
    left: 530px;
}

/* Cadstro */
#cadastro{
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    color: var(--second-bg-color);
    font-family: Arial, Helvetica, sans-serif;
    width: 1000px;
    height: 150px;
}

.lin {
    display: flex;
    justify-content: center;
    justify-content: space-around;
    gap: 10px;
    text-align: center;
    height: 150px;
    border-radius: 20px;
    box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.7);
}

#cadastro .conjunto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 150px;
    width: 200px;
    position: relative;
}

#cadastro .conjunto img {
    width: 25px;
    height: 25px;
    margin-bottom: 10px;
}

#cadastro .conjunto label {
    color: var(--second-bg-color);
    font-weight: 600;
    font-family: "Lexend Deca", sans-serif;
    top: 100px;
    text-align: center;
}

#cadastro .conjunto input {
    border: 2px solid rgba(0,0,0,0.5);
    text-align: center;
    margin-top: 10px;
    height: 40px;
    border-radius: 10px;
    background-color: #E8E8E8;
}

#cadastro button {
    background-color: var(--main-color);
    color: var(--text-color);
    font-family: "Lexend Deca", sans-serif;
    font-weight: 700;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    width: 85%;
    height: 85%;
}
/* Cadstro */

/* Cabeçalho da tabela*/
#tabela{
    margin-right: 0;
    justify-items: center;
    margin: auto;
    width: 90%;
    height: 55vh; 
    overflow-y: auto;
}

tabela, tr, td, th{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 10px;
    width: 240px;
}

.tabela-img{
    width: 15px;
    height: 15px;
}

tabela, tr, td, .pacth{
    width: 100px;
}
/* Cabeçalho da tabela*/

/* Conteúdo da tabela*/
#tabela button {
    background-color: rgb(181, 18, 18);
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

#tabela .atual {
    background-color: rgb(12, 9, 160);
    color: var(--text-color);
    font-weight: 500;
    padding: 5px 12px 5px 12px;
    border-radius: 5px;
}

table{
    border-collapse: collapse;
    border: 0;
}

thead, tr {
    box-shadow: -1px -1px 25px 0px rgba(0,0,0,0.7);
}

tbody, tr {
    box-shadow: -5px 0px 10px rgba(0, 0, 0, 0.2),  
                 5px 0px 10px rgba(0, 0, 0, 0.2);
}

table, thead, tr, th{
    background-color: var(--bg-color);
    color: var(--second-bg-color);

}
/* Conteúdo da tabela*/

/* Footer*/
.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 100px;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .copyright {
    margin-top: 10px;
    text-align: center;
    font-size: 17px;
    color: var(--text-color);
}